body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 40%;
    margin: 4% auto; /* Center the table horizontally */
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}



th {
    background-color: #333;
    color: #fff;

}

tr:hover {
    background-color: #dddddd;
}

#logo { 
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    max-width: 33%;
}

#Barre, #c1, #c2, #c4, #c5 {
    background-color: #333;
    height: 5px;
    width: 100%;
}

header {
    background-color: black;
    width: 100%;
    height: 16vh;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-family: MedulaOne;
    text-decoration: underline;
    text-underline-position: under;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    margin: 0;
}

.showMenu {
    transform: translateY(0);
}

#RèglesBoite, #CarteID {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#RèglesBG, #content {
    grid-area: 1 / 2 / 7 / 7;
    background-color: #FFF8EF;
    height: 65vh;
    width: 100vh;
    text-align: center;
    margin: 4% auto;
    border: 4px solid #3B3937;
    font-family: MedulaOne;
    font-size: 12px;

}

#PartOne, #PartTwo, #PartThree {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}

#PartOne {
    grid-area: 1 / 1 / 2 / 6;
    background-color: orange;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#PartTwo {
    grid-area: 2 / 1 / 6 / 6;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#PartThree {
    margin: auto;
    grid-area: 2 / 1 / 4 / 3;
    height: 80%;
    width: 50%;
    border-radius: 100%;
    background-color: orange;
}

.Titre {
    margin-bottom: 1px;
}

.citation {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Srisakdi;
    color: #3b393753;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    border-width: 60%;
}

.typewriter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.mission-info {
    text-align: center;
}

.mission-info p, .mission-info h2 {
    margin: 0;
}

.typewriter h1 {
    animation-delay: 6s;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@font-face {
    font-family: 'MedulaOne';
    src: url('font/MedulaOne-Regular.ttf');
}

@font-face {
    font-family: 'Srisakdi';
    src: url('font/Srisakdi-Regular.ttf');
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Add margin for spacing */
}

.scoreboard {
    width: 45%; /* Adjust the width as needed */
}

.ppImg {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    z-index: 0;
    border: 5px solid #000000;
  }

  #userDetails {
    width: 45%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

#userDetails img {
    max-width: 100%;
    transform: translateX(-50%);
}

#userDetails p {
    margin: 10px 0;
}

#userDetails input[type="color"] {
    width: 50px;
    height: 30px;
}